<ion-view style="" id="page6" title="Cómo jugar">
    <ion-content class="has-header" padding="true">
        <p>La pocha, también conocido como "la podrida" o "las bazadas" es un juego de cartas que se juega con la baraja española o baraja americana. Las reglas de carteo son similares a las del tute, aunque a diferencia de este, el objetivo no es hacerse el máximo número de bazas, sino adivinar el número de bazas que uno va a conseguir con las cartas que se le han repartido, de forma que se reduce la dependencia de las cartas y se hace más hincapié en la forma de jugarlas.</p>

        <strong>Consideraciones previas</strong>
        <p>Es un juego al que pueden jugar de forma individual de 3 a 6 jugadores (ocasionalmente se pueden ver partidas de hasta 8 o 10), aunque lo ideal es que se juegue entre 5 o 6. El juego consiste en adivinar cuántas bazas se van a conseguir con las cartas que han sido repartidas, para ello se marcan con chinos, garbanzos o bien puede apuntarse directamente en un papel, que es lo más recomendable para marcar las puntuaciones. Una baza es una ronda en que todos los jugadores tiran una carta a la mesa por turnos y siguiendo unas reglas fijas. Sólo una carta se impondrá entre todas las de la mesa y ese jugador será quien gane la baza.</p>

        <strong>Jugadores y cartas</strong>
        <p>Se emplea la baraja española de 40 cartas. El orden de las cartas ordenadas de mayor a menor valor es: As, tres, rey, caballo, sota, siete, seis, cinco, cuatro y dos. En Argentina, más precisamente en la ciudad de Rosario, se juega con la Baraja americana de 52 cartas, ordenadas de mayor a menor: As, K, Q, J, 10, 9, 8, 7, 6, 5, 4, 3, 2.

        Cada carta de esta serie del mismo palo gana a todas las que estén a su derecha, y pierde frente a todas las que tiene a su izquierda, por ejemplo, el rey gana a todas las cartas excepto al As y al tres. En Argentina, la K es solo superada por el As, el 3 carece de valor especial.

        Cualquier carta del palo del triunfo o del pinte, es superior a cualquier carta de un palo que no sea triunfo (Es decir, si pinta espadas, el dos de espadas es más valioso que el as de oros, de copas y de bastos).</p>

        <strong>Objetivo del juego</strong>
        <p>La pocha es un juego de apuestas. Según el número de jugadores existe un número determinado de rondas y en cada ronda se reparte un número determinado de cartas. El objetivo es acertar las bazas que uno va a llevarse con las cartas que le han tocado en cada ronda, para sumar puntos. El ganador será el jugador que más puntos sume al finalizar la partida.</p>

        <strong>El juego</strong>
        <p>El sentido para fijar puestos, para dar las cartas y jugarlas es siempre el contrario al de las agujas del reloj. Tras decidir quien comienza a barajar se reparten las cartas. El número de cartas a repartir y el de rondas a jugar depende del número de jugadores.</p>

        <p>Primero se juegan tantas rondas de una carta como número de jugadores haya o si se quiere reducir la duración del juego, solo se juega una ronda con una carta. Después se va aumentando el número de cartas por baza progresivamente de una en una, hasta llegar al máximo de cartas que se pueden repartir y con ese número de cartas se juegan tantas rondas como jugadores haya, aunque el número de 'rondas' con el máximo de cartas puede ser variable, disminuyéndolo o aumentándolo en función del tiempo disponible (Pueden jugarse dos o tres vueltas completas). Una vez finalizadas estas rondas, se va disminuyendo de uno en uno el número de cartas por baza hasta llegar a una, entonces bien se juega una ronda completa con una carta o bien finaliza la partida. También, a lo largo de la partida, se pueden introducir manos especiales como indias o subastado, entre otras, aunque ha de indicarse previamente. Esto depende de la zona y de las costumbres de cada jugador.</p>

        <p>Si el número de cartas por jugador no fuese para todos igual al repartir todas las cartas se eliminan los doses, de forma que:</p>

        <p>- 3 jugadores, juegan con 36 cartas (Sin los doses) hasta un máximo de 12 cartas por jugador</p>

        <p>- 4 jugadores, juegan con 40 cartas hasta un máximo de 10 cartas por jugador</p>

        <p>- 5 jugadores, juegan con 40 cartas hasta un máximo de 8 cartas por jugador</p>

        <p>- 6 jugadores, juegan con 36 cartas (Sin los doses) hasta un máximo de 6 cartas por jugador</p>

        <p>En cada mano el que reparte dará a cortar la baraja al jugador situado a su izquierda, y seguidamente repartirá las cartas a cada jugador una a una y tras repartir las cartas necesarias cogerá otra del mazo dejándola boca arriba para marcar el triunfo. Si se han repartido todas las cartas, el triunfo se marca por la última carta repartida, que se quedará el jugador que ha repartido. El jugador que reparte irá rotando hacia la derecha en cada mano.</p>

        <strong>Fase 1: Las apuestas</strong>
        <p>Previamente a jugar las cartas, en cada una de las manos, cada jugador tiene que decir, en función de las cartas que tiene, cuantas bazas cree que se va a llevar, comenzando por el jugador sentado a la derecha del que reparte y siguiendo en sentido antihorario.</p>
        <p>El jugador que ha repartido, siempre será el último en anunciar el número de bazas que cree que se llevará e irá con "apuesta obligada". Nunca podrá decir que se llevará un número de bazas tal, que sumado a las apuestas de sus rivales, sumen el número de cartas repartidas a cada jugador. Es decir, si hay 3 jugadores y se han repartido 8 cartas y el 1º jugador apuesta 4 bazas y el 2º jugador 3 bazas, el 3º jugador no podrá apostar 1 baza, ya que sumarían 8. Tendrán que ser 2 bazas o ninguna (U otro número, pero diferente de 1, de forma que la suma sea diferente de 8).</p>
        <p>Esto provoca que nunca todos los jugadores puedan acertar en sus previsiones: Por lo menos uno se equivocará.</p>
        <strong>Fase 2: El carteo</strong>
        <p>Inicia el juego el jugador que se encuentra a la derecha del que ha repartido, echando una carta que dejará descubierta sobre la mesa. El jugador que sale puede echar la carta que quiera, mientras que el resto de jugadores deben seguir las siguientes reglas:</p>
        <p>A) Si el primer jugador ha salido con triunfo, se dice comúnmente que ha arrastrado. El resto de los jugadores están obligados a echar triunfo, y ganando si es posible. En caso de no tener ningún triunfo se echará cualquier otra carta.</p>
        <p>B) Si el primer jugador no sale con triunfo entonces:</p>
        <p>- Todos los jugadores deben seguir el palo de inicio, y superando a la carta más alta que haya de ese palo sobre la mesa, si es posible.</p>
        <p>- Si un jugador no tiene ninguna carta del palo de inicio, debe echar triunfo (lo que comúnmente se conoce como fallar).</p>
        <p>- En caso de no tener ninguna carta ni del palo de inicio ni de triunfo, se puede echar cualquier carta de cualquiera de los dos palos restantes.</p>
        <p>- Nota adicional: Si un jugador ha fallado previamente, los demás tienen que seguir el palo de inicio aunque ya no es preciso que superen ninguna carta ya que no optan a ganar la baza.</p>
        <p>- Nota adicional: Si un jugador ha fallado previamente y nosotros tampoco tenemos ninguna carta del palo de inicio, estamos obligados a fallar, solo si tenemos un triunfo superior al más alto que haya sobre la mesa. En caso contrario, no se está obligado a desperdiciar el triunfo (aunque se podría hacer si al jugador le interesara).</p>
        <p><br />
        Gana la baza, la mayor carta jugada del palo de triunfo y en su defecto, la carta más alta del palo de salida. El jugador que gana la baza recoge las cartas que la forman, dejándolas junto a sí.</p>
        <p>Inicia la baza siguiente el jugador que ganó la anterior, que jugará una carta cualquiera, continuando los demás por orden riguroso de izquierda a derecha en la forma ya explicada, hasta acabar todas las cartas.</p>

        <strong>Fase 3: Los puntos</strong>
        <p>Una vez que se han completado todas las bazas de una mano y los jugadores se han quedado sin cartas para jugar, se procederá al recuento de los puntos en función de los aciertos.</p>
        <p>Cada jugador ganará 3 puntos si adivinó el número exacto de bazas que se iba a llevar.</p>
        <p>Los jugadores que no hubieran acertado el número de bazas que iban a llevarse perderán 1 punto por cada baza de diferencia (tanto por exceso como por defecto) entre lo apostado y lo conseguido.</p>
        <p>Por ejemplo, si alguien ha apostado '2 bazas', y las consigue, sumaría 3 puntos por acertar más 2 puntos (3 + 2) por las bazas conseguidas, haciendo un total de 5 puntos. En cambio, si alguien ha apostado 5 bazas y consigue 4 o 6, perdería 4 puntos.</p>
        <p>En algunos lugares, si el triunfo en la ronda son copas, la puntuación se multiplica por dos y si son oros, por tres. En otros lugares sólo se hace distinción con los oros, cuando la puntuación conseguida se multiplica por dos. No obstante, normalmente no existe distinción entre palos y todas las rondas valen lo mismo.</p>       
        

        <strong>Final de la partida</strong>
        <p>Este mecanismo dentro de cada mano se repite hasta completar el número fijado de manos, arrastrando el tanteo de una mano a la siguiente. Resultará vencedor el jugador que tuviera la puntuación más alta en el momento de finalizar el cómputo de la última mano. En caso de que se produzca un empate al final de la partida, gana aquel que durante la partida haya cometido menor número de errores en las apuestas. Si el empate prevalece, se jugará una mano extra, con todas las cartas para deshacer el empate. Esto se repite las veces necesarias hasta que desaparezca el empate.</p>

        <strong>Manos especiales</strong>
        <p>Existen manos que se juegan de forma puntual en las que el modo de juego se realiza de manera diferente. Estas manos han de fijarse al inicio de la partida, si se desea utilizarlas:</p>
        <p>- <b>Indias</b>: cada uno se pone su carta (que no ha mirado) en la frente, y pide bazas según las cartas de los demás. El jugador puede ver todas las cartas menos la suya.</p>
        <p>- <b>Subastado</b>: no se pinta una carta y se asigna palo del triunfo, sino que 'se subasta' la apuesta y el palo de triunfo lo elige el jugador que más bazas pida. Primero cada uno pide sin decir el triunfo para ver quién pide más, y luego otra vez, sabiendo qué pinta, ya que evidentemente la modificación del palo de triunfo afecta considerablemente a la apuesta. En caso de que dos o más jugadores pidan igual número de bazas, el palo del triunfo lo asignará el que esté situado más a la derecha del jugador que haya repartido.</p>
        <p>- <b>Mano de oro</b>: Se preasigna el palo de triunfo como oros.</p>
        <p>- <b>Sin triunfo</b>: Se juegan las bazas sin que haya palo de triunfo.</p>

        <strong>Consideraciones especiales</strong>
        <p>En la pocha no se pueden romper en ningún caso las reglas del carteo, aunque se pueden hacer leves modificaciones que podrán acordarse antes de la partida entre todos los jugadores. Si algún jugador quebranta alguna de las normas, se considera que ha cometido un 'renuncio' y deberá recibir una penalización en puntos, que deberá también acordarse antes de la partida. (Una sanción normal es de 50 puntos, aunque puede endurecerse).</p>
        <p>Hay total libertad para apostar, salvo el jugador que reparte, que tendrá 'apuesta obligada' como se ha explicado anteriormente. Aunque al ser la pocha un juego individual donde se apuesta con las cartas personales, de forma muy ocasional alguien puede modificar su apuesta 'normal' para que otro jugador pueda verse afectado en la suya. Por ejemplo, si hay 7 cartas dadas y cuando se llega al último jugador hay pedidas 9 bazas, el jugador podría pensar que sus cartas no son tan buenas y podría reducir sus pretensiones o viceversa, si hay un gran defecto en el número de bazas apuntadas.</p>

        <strong>Términos de la pocha</strong>
        <p><b>Asistir</b>: Tirar una carta del palo del que se ha salido inicialmente.</p>
        <p><b>Arrastrar:</b> Dícese de la jugada en la que el jugador sale de una carta del palo que pinta.</p>
        <p><b>Fallar:</b> Cuando un jugador carece de cartas del palo del que se ha salido, y tira una del palo del triunfo. El jugador falla y se lleva la baza.</p>
        <p><b>Pisar</b>: Cuando un jugador falla porque no tiene carta del palo inicial y un jugador posterior lanza un triunfo más alto y se lleva la baza.</p>
        <p><b>Irse al monte, o irse de fea:</b> Cuando un jugador falla a un palo y otro que viene a continuación no tira la carta del palo del triunfo porque con anterioridad han tirado un triunfo mayor que el suyo. De esta forma puede librarse de una carta que posteriormente le pueda dar problemas.</p>
        <p><b>Achicarse</b>: Se dice cuando un jugador supera una de las cartas, pero no lanza la más alta de las que posee. Por ejemplo, se sale del 5 de copas y el jugador siguiente tiene el 7 de copas y el 3 de copas. El jugador lanza el 7 de copas y 'se achica' con la esperanza de que alguien tire el As, para guardarse el 3 y poder hacerse la baza posteriormente.</p>
        <p><b>Fallo redondo</b>: Cuando un jugador no tiene desde el principio entre sus cartas una de un palo que no es el de triunfo. De esta forma, en cuanto se juegue una baza de ese palo, fallará.</p>
        <p><b>Semifallo</b>: Cuando un jugador sólo posee una carta de un palo que no es el de triunfo.</p>
        <p><b>Fallo total:</b> Game over.</p>
        <p><b>Hacer "Escuela":</b> iniciar la partida siendo mano con el 2 de triunfo para descartar al resto de la mesa. Se acompaña previamente con un gesto de "visera" con la mano derecha mirando hacia el horizonte como leyendo un cartel lejano que incita a tan odiada jugada.</p>




    </ion-content>
</ion-view>
